<?xml version="1.0"?>
<config>
    <modules>
        <Bitbull_Satispay>
            <version>0.2.0</version>
        </Bitbull_Satispay>
    </modules>
    <global>
        <blocks>
            <satispay>
                <class>Bitbull_Satispay_Block</class>
            </satispay>
        </blocks>
        <helpers>
            <satispay>
                <class>Bitbull_Satispay_Helper</class>
            </satispay>
        </helpers>
        <models>
            <satispay>
                <class>Bitbull_Satispay_Model</class>
            </satispay>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <satispay>
                    <file>bitbull/satispay.xml</file>
                </satispay>
            </updates>
        </layout>
        <routers>
            <satispay>
                <use>standard</use>
                <args>
                    <module>Bitbull_Satispay</module>
                    <frontName>satispay</frontName>
                </args>
            </satispay>
        </routers>
        <translate>
            <modules>
                <Bitbull_Satispay>
                    <files>
                        <default>Bitbull_Satispay.csv</default>
                    </files>
                </Bitbull_Satispay>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Bitbull_Satispay>
                    <files>
                        <default>Bitbull_Satispay.csv</default>
                    </files>
                </Bitbull_Satispay>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
		<jobs>
			<satispay_process_pendingorders>
				<schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
				<run><model>satispay/cron::processPendingOrders</model></run>
			</satispay_process_pendingorders>
		</jobs>
	</crontab>
    <default>
        <payment>
            <satispay>
                <title>Pay with Satispay</title>
                <order_status>pending_payment</order_status>
                <payment_action>sale</payment_action>
                <model>satispay/payment</model>
                <default_country_code>+39</default_country_code>
            </satispay>
        </payment>
    </default>
</config>
