<?xml version="1.0"?>
<config>
    <modules>
        <Satispay_PaymentProcessor>
            <version>0.0.1</version>
        </Satispay_PaymentProcessor>
    </modules>
    <global>
        <blocks>
            <satispay>
                <class>Satispay_PaymentProcessor_Block</class>
            </satispay>
        </blocks>
        <helpers>
            <satispay>
                <class>Satispay_PaymentProcessor_Helper</class>
            </satispay>
        </helpers>
        <models>
            <satispay>
                <class>Satispay_PaymentProcessor_Model</class>
            </satispay>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <satispay>
                    <file>satispay.xml</file>
                </satispay>
            </updates>
        </layout>
        <routers>
            <satispay>
                <use>standard</use>
                <args>
                    <module>Satispay_PaymentProcessor</module>
                    <frontName>satispay</frontName>
                </args>
            </satispay>
        </routers>
    </frontend>
    <crontab>
		<jobs>
			<satispay_process_pendingorders>
				<schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
				<run><model>satispay/cron::processPendingOrders</model></run>
			</satispay_process_pendingorders>
		</jobs>
	</crontab>
    <default>
        <payment>
            <satispay>
                <title>Pay with Satispay</title>
                <order_status>pending_payment</order_status>
                <payment_action>sale</payment_action>
                <model>satispay/payment</model>
            </satispay>
        </payment>
    </default>
</config>
